@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  background-color: #ffefef;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  padding: 2rem 4rem;
  background-color: #ffffff;
}

.menu-intro {
  text-align: center;
}

.menu-intro p {
}

.dishes {
  display: flex;
  justify-content: space-around;
}

.dish {
  max-width: 30%;
}

.description {
  display: flex;
  flex-wrap: wrap;
}

.description p {
  max-width: 50%;
}

.recipes {
  display: flex;
  flex-direction: column;
}

.recipe-section {
  display: flex;
}

.recipe-section__img {
  max-width: 50%;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}
